.menu-symbol {
    position: absolute;
    color: rgb(15, 15, 15);
    font-size: 20px;
    left: -50px;
    bottom: -140px;
    cursor: pointer;
}


.menu-text {
    position: absolute;
    color: rgb(15, 15, 15);
    font-size: 20px;
    left: -20px;
    bottom: -140px;
}

.popup-btn-container {
    position: absolute;
    top: calc(50% + 10px);
    left: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.popup {
    position: absolute;
    display: none;
    top: calc(70% + 80px);
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
}

.popup-btn {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.popup-btn img {
    width: 50px;
    height: 50px;
}


.popup ul {
    list-style: none;
    background-color: black;
    margin: 0;
    padding: 0;
}

.popup li {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}

.popup li:hover {
    background-color: grey;
}

.popup ul.sublist {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background-color: black;
    margin: 0;
    padding: 0;
}

.popup li:hover>ul.sublist {
    display: block;
}

.popup li.subitem {
    padding: 5px 10px;
    cursor: pointer;
}

.popup li.subitem:hover {
    background-color: grey;
}

.popup li.subitem>ul {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    background-color: black;
    margin: 0;
    padding: 0;
}

.popup li.subitem:hover>ul {
    display: block;
}


/* Set up the right sidebar */
.right-sidebar {
    width: 20%;
    height: calc(100% - 100px);
    top: 50px;
    bottom: 0px;
    right: 0px;
    overflow-y: auto;
    position: fixed;
    background-image: url('../images/trama_sidebars.png');
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 6px solid black;

}

.right-sidebar {}

.centered-image-container {
    text-align: center;
}

.centered-image {
    background-color: transparent;
    width: 400px;
    /* desired width */
    height: 400px;
    /* desired height */
}

/* Set up the main content area */
.main {
    width: 60%;
    height: calc(100% - 100px);
    background-image: url('../images/background_picture.jpg');
    background-size: cover;
    background-position: center;
    left: 20%;
    right: 20%;
    top: 0px;
    position: relative;
    bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    align-content: center;
    overflow-y: auto;
    overflow-x: auto;
    justify-content: center;
}

.main.override-background {
    background-image: none !important;
}

.box {
    max-width: 90%;
    width: fit-content;
    height: fit-content;
    background-color: orange;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    border-radius: 10px;

}

.footer-button {
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    cursor: pointer;
}

.box table {
    width: 100%;
    /* Adjusted width to 100% */
    table-layout: fixed;
    /* Added table-layout property */
}

.green-bg {
    background-color: rgb(126, 215, 126);
}

.yellow-bg {
    background-color: rgb(250, 250, 80);
}

.box td,
.box th {
    padding: 5px;
    /* Adjusted padding to make them smaller */
    border: 1px solid #ddd;
    white-space: nowrap;
    /* Prevent line breaks within table cells */
    overflow: hidden;
    /* Hide overflowing content */
    text-overflow: ellipsis;
    /* Add ellipsis (...) to indicate truncated text */

}






.prestige-label-container {
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;

}

.prestige-label {
    max-width: 100%;

}

/* Set up the left sidebar */
.left-sidebar {
    width: 20%;
    height: calc(100% - 100px);
    top: 50px;
    bottom: 0px;
    left: 0px;
    overflow-y: auto;
    position: fixed;
    background-image: url('../images/trama_sidebars.png');
    border-right: 6px solid black;
}

.logout-button {
    position: absolute;
    right: 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.home-button {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;

}


/* Set up the header */
.header {
    height: 50px;
    width: 100%;
    background-color: #333333;
    position: fixed;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    z-index: 999;
    display: flex;
    align-items: center;
}

/* Set up the footer */
.footer {
    height: 50px;
    width: 100%;
    background-color: #333333;
    position: fixed;
    bottom: 0px;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    z-index: 999;
}

.imprint-links {
    float: left;
    margin-left: 20px;
}

#date-time {
    float: right;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: azure;
}

body {
    display: block;
    margin: 0px;
    height: calc(100% - 100px);

    color: #000;
    font-family: MaisonNeue, Segoe UI, Helvetica Neue, -apple-system, system-ui, BlinkMacSystemFont, Roboto, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    line-height: 18px;
}

.content-container {
    min-height: calc(100vh - 100px);
    padding-top: 50px;
    background-image: url("../images/wallpaper_landing_page.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.login-table {
    background-color: orange;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    margin: 30 auto;
    opacity: 0.75;
}

.login-table table {
    width: 100%;
}

.login-table td {
    padding: 10px;
}

.login-table input[type="text"],
.login-table input[type="password"] {
    width: 100%;
}

.login-table .form-check {
    margin-top: 10px;
}

.login-table .flashes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stats-table {
    position: absolute;
    top: calc(43% + 5px);
    right: calc(20% + 10px);
    width: 40%;
    margin: auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.stats-table td,
.stats-table th {
    padding: 8px;
    border: 1px solid #ddd;
}

.stats-table th {
    background-color: #f2f2f2;
}

.stats-table td {
    text-align: center;
}

.teams-container {
    display: flex;
}

.teams-container .home-button {
    margin-right: 10px;
}

.home-button-menu {
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    position: relative;
}

.home-button-menu:hover .sublist-home {
    display: block;
}

.sublist-home {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.sublist-home ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
}

.sublist-home ul li {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 2;
}

.sublist-home ul li:hover {
    background-color: grey;
}

.sublist-home ul li:not(:last-child) {
    margin-bottom: 10px;
    /* Adjust the margin between li elements */
}