/* base.html*/
body {
    background-color: #E8DCD9;
    font-family: cursive;
}

.blue {
    color: #187bcd
}

.glow {
    font-size: 30px;
    color: blue;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.post-container {
    margin-bottom: 10px;
}

.post-info {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* set smaller gap value */
}


ul {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    /* add right margin to the ul */
}

.delete-button-container {
    margin-top: 10px;
    margin-left: 10px;
    /* add left margin to the delete button container */
}

.right-link {
    position: absolute;
    right: 0;
}

.delete-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.enroll-button-container {
    margin-top: 10px;
    margin-left: 10px;
    /* add left margin to the delete button container */
}

.enroll-button {
    background-color: #53b179cb;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.unenroll-button-container {
    margin-top: 10px;
    margin-left: 10px;
    /* add left margin to the delete button container */
}

.unenroll-button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.form-container {
    max-width: 450px;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
}



.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="username"],
.form-container input[type="password"],
.form-container input[type="password2"] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background-color: #d40d09;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #b80e0a;
}


.form-container input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.form-container label {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 5px;
}

.form-container label span {
    flex: 1;
}

/* Adjust radio button text width */
.form-container label span.radio-text {
    max-width: 80%;
}

.form-check-input {
    position: absolute;
    margin-top: 0.1rem;
    margin-left: -0.25rem;
}

.form-check-label {
    margin-left: 6.0rem;
}

.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #d40d09;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;

}