{% extends "base.html" %}

{% block content %}



<div class="main">


    <!-- admin section-->
    <div class="box">
        <table>
            <caption>
                <h1 style="color:red; text-align: center;">Lista delle squadre</h1>
            </caption>
            <thead>
                <tr>
                    <th>Squadra</th>
                    <th>Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td style="text-align: center;">
                        <a href="{{url_for('team_home',team_id=team.id)}}">{{team.name}}</a>
                    </td>
                    <td style="text-align: center;">
                        <button>

                            <a class="delete-button" href="/delete_team/{{team.id}}"
                                style="align-items:center; color:black;">Elimina</a>
                        </button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button>
                            <a href="{{url_for('new_team')}}" style="align-content:center; color:black;">Aggiungi una
                                nuova squadra
                            </a>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>



    <center>
        <div class="box">
            <table>
                <caption>
                    <h1 style="color:red">Lista degli utenti</h1>
                </caption>
                <thead>
                    <tr>
                        <th>Utente</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td style="text-align: center;">
                            <a href="/view_user_profile_by_admin/{{user.id}}">{{ user.username }}</a>
                        </td>
                        <td style="text-align: center;">
                            <button>
                                <a href="/delete_user/{{user.id}}"
                                    style="align-content:center; color:black;">Elimina</a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button>
                                <a href="{{url_for('new_user')}}" style="align-content:center; color:black;">Aggiungi un
                                    nuovo utente
                                </a>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </center>


</div>

<div class="left-sidebar"></div>
<div class="right-sidebar"></div>

{% endblock %}