<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_page.css') }}">


    {% if title %}
    <title>{{ title }} - Team app</title>
    {% else %}
    <title>Welcome to Team app</title>
    {% endif %}
</head>

<body>

    <div class="header">
        {% if current_user.is_anonymous %}
        <a class="home-button" href="{{ url_for('index') }}">Home</a>
        <a class="blue pull-right" href="{{ url_for('login') }}">Login</a>
        {% else %}

        <!--home management-->
        {%if current_user._is_admin%}
        <a class="home-button" href="{{ url_for('admin_home', username=current_user.username) }}">Home</a>
        {%else%}
        <a class="home-button" href="{{ url_for('user_home', username=current_user.username) }}">Home</a>
        {%endif%}




        <!--add new user-->
        {%if current_user._is_admin%}
        <a class="home-button" href="{{ url_for('new_user') }}">Add a new user</a>
        {% endif %}

        <a class="logout-button" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}


    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}

        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="content-container">{% block content %}{% endblock %}</div>
    <div class="footer">
        <div class="imprint-links">
            <a href="#">Imprint</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
        </div>
        <div id="date-time">
            <script>
                function updateDateTime() {
                    var dateTime = new Date();
                    var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
                    var dateTimeStr = dateTime.toLocaleDateString(undefined, options);
                    document.getElementById("date-time").innerHTML = dateTimeStr;
                }

                setInterval(updateDateTime, 1000);
            </script>
        </div>
    </div>
</body>

</html>