{% extends "base_bootstrap.html" %}

{%block columnCenter%}
{%if current_user.profile_background%}
<style>
    .center-column-box {
        background-image: url("{{ url_for('serve_image', filepath=current_user.profile_background) }}");

    }
</style>
{%endif%}
<form class="form-container" method="post">
    {{ form.hidden_tag()}}
    <style>
        .table-striped td {
            padding: 2px;
            font-size: 12px;
            /* Adjust width and height as desired */
            width: 90px;
            height: 30px;
        }
    </style>
    <div class="table-box" style="display: inline-block; width:70%; height:75%; margin-left: 15%;">
        <table class="table table-striped">
            <h1 style="color: red;">Modifica giro</h1>

            <tr>
                <td>{{ form.tripname.label }}</td>
                <td>{{ form.tripname() }}</td>
            </tr>
            <tr>
                <td>{{ form.speed.label }}</td>
                <td>{{ form.speed() }}</td>
            </tr>
            <tr>
                <td>{{ form.distance.label }}</td>
                <td>{{ form.distance() }}</td>
            </tr>
            <tr>
                <td>{{ form.elevation.label }}</td>
                <td>{{ form.elevation() }}</td>
            </tr>
            <tr>
                <td>{{ form.recorded_on.label }}</td>
                <td>{{ form.recorded_on() }}</td>
            </tr>
            <tr>
                <td>{{ form.team.label }}</td>
                <td>{{ form.team() }}</td>
            </tr>
            <tr>
                <td>{{ form.n_of_partecipants.label }}</td>
                <td>{{ form.n_of_partecipants() }}</td>
            </tr>
            <tr>
                <td>{{ form.prestige.label }}</td>
                <td>
                    <div class="prestige-label-container">
                        {% for subfield in form.prestige %}
                        <label class="prestige-label">
                            {{ subfield }}
                            <span>{{ subfield.label() }}</span>
                        </label><br>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ form.description.label }}</td>
                <td>{{ form.description(size=20, rows=5) }}</td>
            </tr>
            <tr>
                <td>{{ form.n_of_placements.label }}</td>
                <td>
                    <div id="placement-entries">
                        {% for placement in placements %}
                        <div>
                            <input type="hidden" name="placement_id" value="{{ placement.id }}">
                            <label for="edit_placement">Piazzamento {{loop.index }}:</label>
                            <select name="edit_placement">
                                {% for position in range(1, 11) %}
                                <option value="{{ position }}" {% if placement.place==position %}selected{% endif %}>{{
                                    position }}&#186;</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="delete-button">Elimina</button>
                        </div>
                        {% endfor %}
                    </div>
                    <button id="add-placement-button">Aggiungi piazzamento</button>
                </td>

            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">{{ form.submit_save }}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button>

                        <a class="delete-button" style="align-items:center; color:black;"
                            href="{{ url_for('delete_trip', trip_id=trip_id, user_id=user_id) }}">Elimina</a>
                    </button>

                </td>
            </tr>
        </table>

    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var placementEntriesContainer = document.getElementById("placement-entries");

        // Function to update the placement numeration
        function updatePlacementNumeration() {
            var placementLabels = placementEntriesContainer.getElementsByTagName("label");

            for (var i = 0; i < placementLabels.length; i++) {
                placementLabels[i].textContent = "Piazzamento " + (i + 1) + ": ";
            }
        }

        // Add event listener to "Add Placement" button
        document.getElementById("add-placement-button").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the button from triggering a form submission

            var label = document.createElement("label");
            label.textContent = "Piazzamento " + (placementEntriesContainer.childElementCount + 1) + ": ";

            var select = document.createElement("select");
            select.name = "placement[]";

            // Add options with values 1 to 10
            for (var j = 1; j <= 10; j++) {
                var option = document.createElement("option");
                option.value = j;
                option.text = j + "\u00BA";
                select.appendChild(option);
            }

            var deleteButton = document.createElement("button");
            deleteButton.textContent = "Delete";
            deleteButton.className = "delete-button";
            deleteButton.style.marginLeft = "4px";


            deleteButton.addEventListener("click", function () {
                this.parentNode.remove(); // Remove the parent div when delete button is clicked
                updatePlacementNumeration(); // Update the placement numeration
            });

            var div = document.createElement("div");
            div.appendChild(label);
            div.appendChild(select);
            div.appendChild(deleteButton);

            placementEntriesContainer.appendChild(div);
        });

        // Add event listener to delete buttons
        placementEntriesContainer.addEventListener("click", function (event) {
            if (event.target.classList.contains("delete-button")) {
                event.target.parentNode.remove(); // Remove the parent div when delete button is clicked
                updatePlacementNumeration(); // Update the placement numeration
            }
        });

        // Initial placement numeration update
        updatePlacementNumeration();
    });

</script>

{%endblock%}

{%block columnLeft%}


{%if current_user.profile_banner%}
<style>
    .left-column {
        background-image: url("{{ url_for('serve_image', filepath=current_user.profile_banner) }}");

    }
</style>
{%endif%}

<div class="transparent-box" style="display: inline-block;">

    <div class="round-container">

        {%if not current_user.profile_picture%}
        <img src="{{ url_for('serve_image', filepath='defaults/app_icon.jpg') }}" class="img-fluid" alt="Popup Image">
        {%else%}
        <img src="{{ url_for('serve_image', filepath=current_user.profile_picture) }}" class="img-fluid"
            alt="Popup Image">
        {%endif%}
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Menu
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{{url_for('user_home',username=current_user.username)}}">Home</a></li>
            <li><a class="dropdown-item" href="{{url_for('user_profile')}}">Profilo</a></li>
            <li class="dropdown subitem">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" id="squadreMenu">Squadre</a>
                <ul class="dropdown-menu" aria-labelledby="squadreMenu">
                    {% for team in teams %}
                    <li><a class="dropdown-item" href="{{url_for('team_home',team_id=team.id)}}">{{team.name}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li><a class="dropdown-item" href="{{url_for('trips_overview',user_id=current_user.id)}}">Panoramica
                    giri</a></li>
            {% if current_user.teams %}
            <li><a class="dropdown-item" href="{{url_for('new_trip',user_id=current_user.id)}}">Aggiungi un nuovo
                    giro</a></li>
            {% endif %}
        </ul>
    </div>

    <script>
        var dropdownButton = document.querySelector("#dropdownMenuButton");
        var dropdownMenu = document.querySelector(".dropdown-menu");

        dropdownButton.addEventListener("click", function () {
            var isExpanded = dropdownButton.getAttribute("aria-expanded") === "true";
            dropdownButton.setAttribute("aria-expanded", !isExpanded);
            dropdownMenu.classList.toggle("show", !isExpanded);
        });
    </script>


    <script>
        var squadreMenuItem = document.querySelector("#squadreMenu");
        var squadreSubMenu = document.querySelector("#squadreMenu + .dropdown-menu");

        squadreMenuItem.addEventListener("click", function (event) {
            event.preventDefault();
            squadreSubMenu.classList.toggle("show");
        });
    </script>

</div>

{%endblock%}


{%block columnRight%}


{%if current_user.profile_banner%}
<style>
    .right-column {
        background-image: url("{{ url_for('serve_image', filepath=current_user.profile_banner) }}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
{%endif%}
{%endblock%}