{% extends 'base.html' %}
{% block content %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-t-50 p-b-90">
			<span class="login100-form-title p-b-51">
				Welcome!!<br>
			</span>
			{% if session.logged_in %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Username</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Address</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>{{session.username}}</td>
						<td contenteditable="true">{{session.email}}</td>
						<td contenteditable="true">{{session.phone}}</td>
						<td contenteditable="true">{{session.address}}</td>
					</tr>
				</tbody>
			</table>
			{% endif %}
			<div class="container-login100-form-btn m-t-17">
				<button class="login100-form-btn">
					<a class="login100-form-btn" href="/logout">Logout</a>
				</button>
			</div>
			<div class="container-login100-form-btn m-t-17">
				<button class="login100-form-btn">
					<a class="login100-form-btn" href="/modify">Modify</a>
				</button>
				<div class="container-login100-form-btn m-t-17">
					<button class="login100-form-btn">
						<a class="login100-form-btn" href="/delete"
							onclick="return confirm('Are you sure you want to delete your account?')">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}