{% extends "base.html" %}

{% block content %}
<center>
    <div class="container mt-5" style="margin-top: 200px;">
        <h1 style="color:red">Welcome to the Team App!</h1>
        <h2 style="color:red">
            <a href="{{ url_for('login') }}">Login</a> or
            <a href="{{ url_for('register') }}">Register</a> to
            start your journey!
        </h2>
    </div>
</center>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}

    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}