{% extends "base.html" %}

{% block content %}
<center>
    <h1 style="color:red">Sign In</h1>
    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
    <form action="" method="post" novalidate class="form-container">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="form-check">
            {{ form.remember_me(class="form-check-input") }}
            <label class="form-check-label">{{ form.remember_me.label }}</label>
        </div>
        <p><a href="{{url_for('forgot_password')}}">Forgot Password?</a></p>
        <p>{{ form.submit() }}</p>

    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</center>

{% endblock %}