{% extends "base.html" %}

{% block content %}
{% block styles %}
<style>
    .center-column-box {

        background-image: url("../images/defaults/wallpaper_landing_page.jpg");
        /* Additional CSS properties for background image */
    }

    td {
        max-width: 25px;
        /* Adjust the max width as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock %}
<div class="table-box" style="left:30%;width:40%;">
    <h1 style=" color: red; text-align: center;">Sign In</h1>
    <h5 style="text-align: center;">Nuovo utente? <a href=" {{ url_for('register') }}">Clicca per registrarti!</a></h5>
    <form action="" method="post" novalidate class="form-container">
        {{ form.hidden_tag() }}
        <table class="table table-striped">
            <tr>
                <td>{{ form.username.label }}</td>
                <td>{{ form.username(size=32) }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.password.label }}</td>
                <td>{{ form.password(size=32) }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>

                <td colspan="2" style="text-align: center;">
                    <div class="form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        <label class="form-check-label">{{ form.remember_me.label }}</label>
                    </div>
                </td>

            </tr>
            <tr>

                <td colspan="3" style="text-align: center">{{ form.submit() }}</td>

            </tr>
            <tr>

                <td colspan="3" style="text-align: center"><a href="#" onclick="sendUsername()">Password
                        dimenticata?</a>
                </td>

            </tr>
        </table>
    </form>

</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="table-box flash-messages" style="left:1%;width:40%;">


    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>

{% endif %}
{% endwith %}
<script>
    function sendUsername() {
        var username = document.getElementsByName('username')[0].value;
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', "{{ url_for('forgot_password') }}");
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'username');
        input.setAttribute('value', username);
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}