{% extends "base.html" %}

{% block content %}
<div class="login-table">
    <center>
        <h1 style="color: red">Sign In</h1>
        <p>Nuovo utente? <a href="{{ url_for('register') }}">Clicca per registrarti!</a></p>
        <form action="" method="post" novalidate class="form-container">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <td>{{ form.username.label }}</td>
                    <td>{{ form.username(size=32) }}</td>
                    <td>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>{{ form.password.label }}</td>
                    <td>{{ form.password(size=32) }}</td>
                    <td>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-check">
                            {{ form.remember_me(class="form-check-input") }}
                            <label class="form-check-label">{{ form.remember_me.label }}</label>
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>

                    <td colspan="3" style="text-align: center">{{ form.submit() }}</td>

                </tr>
                <tr>

                    <td colspan="3" style="text-align: center"><a href="#" onclick="sendUsername()">Password
                            dimenticata?</a>
                    </td>

                </tr>
            </table>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </center>
</div>


<script>
    function sendUsername() {
        var username = document.getElementsByName('username')[0].value;
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', "{{ url_for('forgot_password') }}");
        var input = document.createElement('input');
        input.setAttribute('type', 'hidden');
        input.setAttribute('name', 'username');
        input.setAttribute('value', username);
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }
</script>
{% endblock %}