{% extends "base.html" %}

{% block content %}

<div class="left-sidebar">
    <div class="popup-btn-container">
        {%if not user.profile_picture%}
        <img src="{{ url_for('serve_image', filename='app_icon.jpg') }}" class="popup-btn" alt="Popup Image">
        {%else%}
        <img src="data:image/png;base64,{{ user.profile_picture|b64encode }}" class="popup-btn" alt="Popup Image">
        {%endif%}
        <i class="fas fa-bars menu-symbol"></i><span class="menu-text">Menu</span>
    </div>
    <div class="popup" id="popup">
        <ul>
            <li><a href="{{url_for('member_view',user_id=user.id, team_id=team.id)}}">Home</a></li>
            <li><a href="{{url_for('member_profile',user_id=user.id,team_id=team.id)}}">Profile<a></li>

        </ul>
    </div>
    <script>
        var popup = document.querySelector(".popup");
        var popupBtn = document.querySelector(".popup-btn");
        popupBtn.addEventListener("click", function () {
            if (popup.style.display === "block") {
                popup.style.display = "none";
            } else {
                popup.style.display = "block";
            }
        });
    </script>


</div>

<div class="main">

    <center>


        <div class="box">

            <table class="styled-table">
                <caption>
                    <h1 style="color:red">{{user.username}}'s trips in {{team.name}}</h1>
                </caption>
                <thead>
                    <tr>
                        <th><b>Trip Name</b></th>
                        <th>Speed [km/h]</th>
                        <th>Distance [km]</th>
                        <th>Elevation [m]</th>
                        <th>Number of partecipants</th>
                        <th>Prestige</th>
                        <th>Description</th>
                        <th>Score</th>

                    </tr>
                </thead>
                <tbody>
                    {% for trip in trips %}
                    <tr>
                        {%if user in team.users%}
                        {%if role=='user' and user!=current_user%}
                        <td>
                            {{trip.tripname}}
                        </td>
                        {%endif%}
                        {%if role=='team_leader' and user!=current_user%}
                        <td><a href="{{url_for('edit_trip',trip_id=trip.id,user_id=user.id)}}">{{trip.tripname}}</a>
                        </td>
                        {%endif%}


                        {%else%}
                        <td>
                            {{trip.tripname}}
                        </td>
                        {%endif%}

                        <td>{{ trip.speed }} </td>
                        <td>{{ trip.distance }} </td>
                        <td>{{trip.elevation}}</td>
                        <td>{{trip.n_of_partecipants}}</td>
                        <td>{{trip.prestige}}</td>
                        <td>{{trip.description}}</td>
                        <td>{{trip.score}}</td>



                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>


        <br>

    </center>
</div>

<div class="right-sidebar">
    <table class="stats-table">

        <tbody>

            <tr>
                <td><strong>Activities</strong></td>
                <td>{{stat["activities"]}}</td>
            </tr>
            <tr>
                <td><strong>Total Distance (km)</strong></td>
                <td>{{stat["total_distance"]}}</td>
            </tr>
            <tr>
                <td><strong>Maximum Elevation (m)</strong></td>
                <td>{{stat["maximum_elevation"]}}</td>
            </tr>
            <tr>
                <td><strong>Average speed (km/h)</strong></td>
                <td>{{stat["average_speed"]}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}