{% extends "base.html" %}

{% block content %}<center>
    <h1 style="color:red">Register a new trip</h1>
    <form action="" method="post" class="form-container">
        {{ form.hidden_tag() }}
        <p>
            {{ form.tripname.label }}<br>
            {{ form.tripname(size=32) }}<br>
            {% for error in form.tripname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.speed.label }}<br>
            {{ form.speed(size=32) }}<br>
            {% for error in form.speed.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.distance.label }}<br>
            {{ form.distance(size=32) }}<br>
            {% for error in form.distance.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.elevation.label }}<br>
            {{ form.elevation(size=32) }}<br>
            {% for error in form.elevation.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{form.n_of_partecipants.label}} <br>
            {{ form.n_of_partecipants }}<br>
            {% for error in form.n_of_partecipants.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>

        <p>
            {{ form.prestige.label }}<br>
            {% for subfield in form.prestige %}
            <label>
                {{ subfield }} <span>{{ subfield.label }}</span>
            </label><br>
            {% endfor %}
            {% for error in form.prestige.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.description.label }}<br>
            {{form.description(size=20, rows=5)}}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</center>

{% endblock %}