{% extends "base.html" %}

{% block content %}
<div class="main">
    <center>
        <form class="form-container" method="post">
            {{ form.hidden_tag()}}
            <div class="box">
                <table>
                    <caption>
                        <h1 style="color: red;">Aggiungi un giro</h1>
                    </caption>

                    <tr>
                        <td>{{ form.tripname.label }}</td>
                        <td>{{ form.tripname() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.speed.label }}</td>
                        <td>{{ form.speed() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.distance.label }}</td>
                        <td>{{ form.distance() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.elevation.label }}</td>
                        <td>{{ form.elevation() }}</td>
                    </tr>
                    <tr>
                    <tr>
                        <td>{{ form.recorded_on.label }}</td>
                        <td>{{ form.recorded_on() }}</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>{{ form.team.label }}</td>
                        <td>{{ form.team(class_="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.n_of_partecipants.label }}</td>
                        <td>{{ form.n_of_partecipants() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.prestige.label }}</td>
                        <td>
                            <div class="prestige-label-container">
                                {% for subfield in form.prestige %}
                                <label class="prestige-label">
                                    {{ subfield }}
                                    <span>{{ subfield.label() }}</span>
                                </label><br>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.description.label }}</td>
                        <td>{{ form.description(size=20, rows=5) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.n_of_placements.label }}</td>
                        <td>
                            <div id="placement-entries">

                            </div>
                            <button id="add-placement-button">Aggiungi piazzamento</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">{{ form.submit_save }}</td>
                    </tr>
                </table>

            </div>
        </form>
    </center>
    <div class="left-sidebar"></div>
    <div class="right-sidebar"></div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var placementEntriesContainer = document.getElementById("placement-entries");
        var placementCount = 0;

        // Add event listener to "Add Placement" button
        document.getElementById("add-placement-button").addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the button from triggering a form submission
            placementCount++;

            var label = document.createElement("label");
            label.textContent = "Piazzamento " + placementCount + ": ";

            var select = document.createElement("select");
            select.name = "placement[]";

            // Add options with values 1 to 10
            for (var j = 1; j <= 10; j++) {
                var option = document.createElement("option");
                option.value = j;
                option.text = j + "\u00BA";
                select.appendChild(option);
            }

            var deleteButton = document.createElement("button");
            deleteButton.textContent = "Delete";
            deleteButton.className = "delete-button";

            deleteButton.addEventListener("click", function () {
                this.parentNode.remove(); // Remove the parent div when delete button is clicked
            });

            var div = document.createElement("div");
            div.appendChild(label);
            div.appendChild(select);
            div.appendChild(deleteButton);

            placementEntriesContainer.appendChild(div);
        });
    });
</script>



{% endblock %}