{% extends "base_bootstrap.html" %}

{%block columnCenter%}
<div class="table-box" style="width:50%; left:25%">
    <table class="table table-striped">



        <tbody>
            <tr>
                <h1 style="color:red">Registra un nuovo utente</h1>
            </tr>
            <form action="" method="post" class="form-container">
                {{ form.hidden_tag() }}
                <tr>
                    <td>{{ form.username.label }}</td>
                    <td>{{ form.username(size=32) }}</td>
                </tr>

                <tr>
                    <td>{{ form.email.label }}</td>
                    <td>{{ form.email(size=32) }}</td>
                </tr>

                <tr>
                    <td>{{ form.password.label }}</td>
                    <td>{{ form.password(size=32) }}</td>
                </tr>

                <tr>
                    <td>{{ form.password2.label }}</td>
                    <td>{{ form.password2(size=32) }}</td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center;">{{ form.submit() }}</td>
                </tr>
            </form>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash-messages">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}

        </tbody>
    </table>
</div>
{%endblock%}


{%block columnLeft%}
{%endblock%}

{%block columnRight%}
{%endblock%}