{% extends "base.html" %}

{% block content %}
<div class="main">
    <center>
        <form class="form-container" method="post">
            {{ form.hidden_tag()}}
            <div class="box">
                <table>
                    <caption>
                        <h1 style="color: red;">Aggiungi un nuovo giro</h1>
                    </caption>

                    <tr>
                        <td>{{ form.tripname.label }}</td>
                        <td>{{ form.tripname() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.speed.label }}</td>
                        <td>{{ form.speed() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.distance.label }}</td>
                        <td>{{ form.distance() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.elevation.label }}</td>
                        <td>{{ form.elevation() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.team.label }}</td>
                        <td>{{ form.team(class_="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.n_of_partecipants.label }}</td>
                        <td>{{ form.n_of_partecipants() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.prestige.label }}</td>
                        <td>
                            <div class="prestige-label-container">
                                {% for subfield in form.prestige %}
                                <label class="prestige-label">
                                    {{ subfield }}
                                    <span>{{ subfield.label() }}</span>
                                </label><br>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.description.label }}</td>
                        <td>{{ form.description(size=20, rows=5) }}</td>
                    </tr>
                    <tr>
                        <td>{{form.n_of_placements.label}}</td>
                        <td>{{form.n_of_placements()}}<br>
                            <div id="placement-entries"></div>

                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align: center;">{{ form.submit_save }}</td>
                    </tr>
                </table>

            </div>
        </form>
    </center>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var numPlacementsField = document.getElementById("n_of_placements");
        var placementEntriesContainer = document.getElementById("placement-entries");

        // Add event listener to numPlacementsField
        numPlacementsField.addEventListener("input", function () {
            var numPlacements = parseInt(numPlacementsField.value) || 0;

            // Clear previous placement entries
            placementEntriesContainer.innerHTML = "";

            // Generate new placement entries
            for (var i = 0; i < numPlacements; i++) {

                var input = document.createElement("input");
                input.type = "number";
                input.name = "placement-" + i;

                var deleteButton = document.createElement("button");
                deleteButton.textContent = "Elimina";
                deleteButton.addEventListener("click", function () {
                    this.parentNode.remove(); // Remove the parent div when delete button is clicked
                });

                var div = document.createElement("div");
                div.appendChild(input);
                div.appendChild(deleteButton);

                placementEntriesContainer.appendChild(div);
            }
        });
    });

</script>

<div class="left-sidebar"></div>
<div class="right-sidebar"></div>
{% endblock %}