{% extends "base.html" %}

{% block content %}

<div class="left-sidebar" style="background-image: url('../images/default_vertical_banner.png');">

</div>
<div class="right-sidebar" style="background-image: url('../images/default_vertical_banner.png');">

</div>
<div class="main">
    <div class="login-table">
        <table>
            <caption>
                <h1 style="color:red">Registra una nuova squadra</h1>
            </caption>
            <tbody>

                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <tr>
                        <td>{{ form.name.label }}</td>
                        <td>{{ form.name(size=32) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% for error in form.name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.description.label }}</td>
                        <td>{{ form.description(size=20, rows=5) }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">{{ form.submit() }}</td>
                    </tr>
                </form>

            </tbody>
        </table>
    </div>
</div>

{% endblock %}