{% extends "base.html" %}

{% block content %}

<div class="left-sidebar">
    <div class="box">
        <table class="styled-table">
            <caption>
                <h1 style="color:red">Dettagli dell'utente {{user.username}}</h1>

            </caption>
            <thead>

            </thead>
            <tbody>

                <tr>
                    <td>Username</td>
                    <td>{{ user.username}}</td>
                </tr>
                <tr>
                    <td>Nome</td>
                    <td>{{ user.name}}</td>
                </tr>
                <tr>
                    <td>Cognome</td>
                    <td>{{ user.surname}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Account di strava</td>
                    <td>{{ user.strava_account }}</td>
                </tr>
                <tr>
                    <td>Numero di telefono</td>
                    <td>{{ user.phone_number }}</td>
                </tr>

            </tbody>
        </table>

    </div>



</div>

<div class="main">

    <center>

        <h1 style="color:red; text-align: center;">Ultimi giri di {{user.username}}!</h1>
        {% for trip in last_trips %}
        <div class="box">
            <table>
                <thead>
                    <th><strong>Nome del giro</strong></th>
                    <th><strong>Velocità (m/s)</strong></th>
                    <th><strong>Distanza (km)</strong></th>
                    <th><strong>Dislivello (m)</strong></th>
                    <th><strong>Data</strong></th>
                </thead>

                <tbody>

                    <tr>
                        <td>{{ trip.tripname }}</td>
                        <td>{{ trip.speed }}</td>
                        <td>{{ trip.distance }}</td>
                        <td>{{ trip.elevation }}</td>
                        <td>{{ trip.recorded_on.strftime("%d/%m/%Y") }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}


        <br>

    </center>
</div>
<div class="right-sidebar">
    <table class="stats-table">

        <tbody>

            <tr>
                <td><strong>Numero di attività</strong></td>
                <td>{{stat["activities"]}}</td>
            </tr>
            <tr>
                <td><strong>Distanza totale (km)</strong></td>
                <td>{{stat["total_distance"]}}</td>
            </tr>
            <tr>
                <td><strong>Massimo dislivello (m)</strong></td>
                <td>{{stat["maximum_elevation"]}}</td>
            </tr>
            <tr>
                <td><strong>Velocità media (km/h)</strong></td>
                <td>{{stat["average_speed"]}}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}