{% extends "base.html" %}

{% block content %}
<div class="login-table">
    <table>
        <caption>
            <h1 style="color:red">Registrazione</h1>
        </caption>
        <tbody>

            <tr>
                <td colspan="2">
                    <form action="" method="post" class="form-container">
                        {{ form.hidden_tag() }}
            <tr>
                <td>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.email.label }}
                </td>
                <td>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password.label }}
                </td>
                <td>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.password2.label }}
                </td>
                <td>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr style="text-align: center;">
                <td colspan="2">
                    {{ form.submit() }}
                </td>
            </tr>
            </form>

        </tbody>
        <tfoot>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <tr>
                <td colspan="2">
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% endwith %}
            </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}