{% extends "base.html" %}

{% block content %}
<center>
    <h1 style="color:red">{{team.name}} ranking</h1>
    <div class="post-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>User</th>
                    <th>Total Score</th>
                </tr>
            </thead>
            <tbody>
                {% for place, ranking in ranking_list %}
                <tr>
                    <td>
                        {% if place+1 == 1 %}
                        &#129351;
                        {% elif place+1 == 2 %}
                        &#129352;
                        {% elif place+1 == 3 %}
                        &#129353;
                        {% else %}
                        {{ place+1 }}
                        {% endif %}
                    </td>
                    <td>{{ ranking["user"] }}</td>
                    <td>{{ ranking["total score"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {%if current_user.role != "admin"%}
    <div class="post-container">
        <h1 style="color:red">Enrollment status in {{team.name}}</h1>
        <table class="styled-table">
            <tbody>
                <tr>
                    <td>
                        {%if current_user not in team.users%}
                        {%if not requests_to_join%}
                        <form action="{{url_for('request_enrollment_to_team', team_id=team.id)}}" method="POST"
                            class="form-container">
                            <input type="submit" class="enroll-button" value="Request Enrollment">

                        </form>
                        {%else%}
                        <form
                            action="{{url_for('withdraw_request_enrollment', request_id = requests_to_join.id, team_id=team.id)}}"
                            method="POST" class="form-container">

                            <input type="submit" class="enroll-button" value="Withdraw request">
                        </form>
                        {%endif%}
                        {%endif%}
                        {%if current_user in team.users%}
                        <form action="{{url_for('unenroll_from_team', team_id=team.id,user_id=user.id)}}" method="POST"
                            class="form-container">
                            <input type="submit" class="unenroll-button" value="Unenroll">
                        </form>
                        {%endif%}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    {%endif%}

    {%if current_user.role =="team_leader"%}

    <center>

        <h1 style="color:red">List of requests to join the team</h1>
    </center>
    <div class="post-container">
        {% for request in requests_to_join_tl %}
        <div class="post-container">
            <div class="post-info">
                <div class="row">
                    user: <a
                        href="{{url_for('view_user_profile_by_TL',user_id=request['user_id'])}}">{{request['username']}}</a>
                    <div class="enroll-button-container" style="display: inline">
                        <a class="enroll-button"
                            href="{{url_for('decide_on_enrollment',request_id=request['id'],accept='Yes')}}">Approve</a>
                    </div>

                    <div class="unenroll-button-container" style="display: inline">
                        <a class="unenroll-button"
                            href="{{url_for('decide_on_enrollment',request_id=request['id'],accept='No')}}">Decline</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {%endif%}

</center>

{% endblock %}