{% extends "base.html" %}

{% block content %}



<div class="main">
    <div class="box">
        <h1 style="color:red; text-align: center;">Panoramica giri per {{current_user.username}}!</h1>
    </div>
    {% for trips_group in trips_groups %}
    <div class="box">
        <table>
            <caption>
                <h1>{{trips_group['team_name']}}
                </h1>
            </caption>
            <thead>
                <th><strong>Nome del giro</strong></th>
                <th><strong>Velocità (km/h)</strong></th>
                <th><strong>Distanza (km)</strong></th>
                <th><strong>Dislivello (m)</strong></th>
                <th><strong>Data</strong></th>
            </thead>

            <tbody>
                {%for trip in trips_group['trips_by_team']%}
                <tr>
                    <td><a href="{{url_for('edit_trip',trip_id=trip.id,user_id=current_user.id)}}">{{ trip.tripname
                            }}</a>
                    </td>
                    <td>{{ trip.speed }}</td>
                    <td>{{ trip.distance }}</td>
                    <td>{{ trip.elevation }}</td>
                    <td>{{ trip.recorded_on.strftime("%d/%m/%Y") }}</td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align: center;">
                        <button>
                            <a href="{{url_for('new_trip',user_id=current_user.id)}}"
                                style="align-items:center; color:black;">Aggiungi un nuovo giro
                            </a>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    {% endfor %}

</div>
<div class="left-sidebar">

    <div class="popup-btn-container">
        {%if not current_user.profile_picture%}
        <img src="{{ url_for('serve_image', filename='app_icon.jpg') }}" class="popup-btn" alt="Popup Image">
        {%else%}
        <img src="data:image/png;base64,{{ user.profile_picture|b64encode }}" class="popup-btn" alt="Popup Image">
        {%endif%}
        <i class="fas fa-bars menu-symbol"></i><span class="menu-text">Menu</span>
    </div>

    <div class="popup" id="popup">
        <ul>
            <li><a href="{{url_for('user_home',username=current_user.username)}}">Home</a></li>
            <li><a href="{{url_for('user_profile')}}">Profilo<a></li>
            <li class="subitem">Squadre
                <ul class="sublist">
                    {% for trips_group in trips_groups %}

                    <li> <a
                            href="{{url_for('team_home',team_id=trips_group['team_id'])}}">{{trips_group['team_name']}}</a>
                    </li>
                    {%endfor%}
                </ul>
            </li>
            <li><a href="{{url_for('trips_overview',user_id=current_user.id)}}">Panoramica giri</a></li>
            <li><a href="{{url_for('new_trip',user_id=current_user.id)}}">Aggiungi un nuovo giro</a></li>

        </ul>
    </div>
    <script>
        var popup = document.querySelector(".popup");
        var popupBtn = document.querySelector(".popup-btn");
        popupBtn.addEventListener("click", function () {
            if (popup.style.display === "block") {
                popup.style.display = "none";
            } else {
                popup.style.display = "block";
            }
        });
    </script>

</div>


<div class="right-sidebar">
</div>


{% endblock %}