{% extends "base.html" %}

{% block content %}
<div class="left-sidebar">
    <div class="left-sidebar">

        <div class="popup-btn-container">
            {%if not current_user.profile_picture%}
            <img src="{{ url_for('static', filename='images/app_icon.jpg') }}" class="popup-btn" alt="Popup Image">
            {%else%}
            <img src="data:image/png;base64,{{ current_user.profile_picture|b64encode }}" class="popup-btn"
                alt="Popup Image">
            {%endif%}
            <i class="fas fa-bars menu-symbol"></i>
        </div>
        <div class="popup" id="popup">
            <ul>
                <li><a href="{{url_for('user_home',username=current_user.username)}}">Home</a></li>
                <li><a href="{{url_for('user_profile')}}">Profile settings<a></li>
                <li class="subitem">Teams
                    <ul class="sublist">
                        {%for team in teams%}

                        <li> <a href="{{url_for('team_home',team_id=team.id)}}">{{team.name}}</a></li>
                        {%endfor%}
                    </ul>
                </li>
                <li><a href="{{url_for('trips_overview',user_id=current_user.id)}}">Trips overview</a></li>
                <li><a href="{{url_for('new_trip',user_id=current_user.id)}}">Add new trip</a></li>

            </ul>
        </div>
        <script>
            var popup = document.querySelector(".popup");
            var popupBtn = document.querySelector(".popup-btn");
            popupBtn.addEventListener("click", function () {
                if (popup.style.display === "block") {
                    popup.style.display = "none";
                } else {
                    popup.style.display = "block";
                }
            });
        </script>

    </div>
</div>
<div class="main">
    <center>
        <div class="box">
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <table>
                    <caption>
                        <h1 style="color:red">Your profile settings</h1>
                    </caption>
                    <tr>
                        <td>{{ form.username.label }}</td>
                        <td>{{ form.username() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.name.label }}</td>
                        <td>{{ form.name() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.surname.label }}</td>
                        <td>{{ form.surname() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.email.label }}</td>
                        <td>{{ form.email() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.strava_account.label }}</td>
                        <td>{{ form.strava_account() }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.phone_number.label }}</td>
                        <td>{{ form.phone_number() }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{form.profile_picture.label}}
                            {% if form.profile_picture.data %}
                            <span>{{ form.profile_picture.data.filename }}</span>
                            {% endif %}
                        </td>
                        <td>{{ form.profile_picture() }}</td>
                    </tr>

                    <tr>

                        <td colspan="2" style="text-align: center;">{{ form.submit }}</td>

                    </tr>
                    {% if not current_user._is_admin %}
                    <tr>

                        <td colspan="2" style="text-align: center;">
                            <button>

                                <a class="delete-button" href="{{url_for('delete_user',user_id=current_user.id)}}"
                                    style="align-items:center; color:black;">Delete
                                    account</a>
                            </button>

                        </td>
                    </tr>
                    {% endif %}
                </table>
            </form>
        </div>

    </center>
</div>
<div class="right-sidebar">

</div>

{% endblock %}