{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_user_profile.css') }}">
</head>

<center>
    <h1 style="color:red">Your profile settings</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} {{ form.username() }}
        </p>
        <p>
            {{ form.email.label }} {{ form.email() }}
        </p>
        <p>
            {{ form.strava_account.label }} {{ form.strava_account() }}
        </p>
        <p>
            {{form.phone_number.label}}{{form.phone_number()}}
        </p>
        <p>
            {{ form.submit }}
        </p>

    </form>
</center>

{% endblock %}