{% extends "base.html" %}

{% block content %}





<div class="main">
    <h1 style="color:red; text-align: center;">Welcome back {{current_user.username}}!</h1>
    {% for trip in last_trips %}
    <div class="box">
        <table>
            <thead>
                <th><strong>Trip Name</strong></th>
                <th><strong>Speed (m/s)</strong></th>
                <th><strong>Distance (km)</strong></th>
                <th><strong>Elevation (m)</strong></th>
                <th><strong>Date</strong></th>
            </thead>

            <tbody>

                <tr>
                    <td>{{ trip.tripname }}</td>
                    <td>{{ trip.speed }}</td>
                    <td>{{ trip.distance }}</td>
                    <td>{{ trip.elevation }}</td>
                    <td>{{ trip.recorded_on.strftime("%d/%m/%Y") }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}

</div>
<div class="left-sidebar">

    <div class="popup-btn-container">
        {%if not current_user.profile_picture%}
        <img src="{{ url_for('static', filename='images/app_icon.jpg') }}" class="popup-btn" alt="Popup Image">
        {%else%}
        <img src="data:image/png;base64,{{ user.profile_picture|b64encode }}" class="popup-btn" alt="Popup Image">
        {%endif%}
        <i class="fas fa-bars menu-symbol"></i>
    </div>
    <div class="popup" id="popup">
        <ul>
            <li><a href="{{url_for('user_home',username=current_user.username)}}">Home</a></li>
            <li><a href="{{url_for('user_profile')}}">Profile settings<a></li>
            <li class="subitem">Teams
                <ul class="sublist">
                    {%for team in teams%}

                    <li> <a href="{{url_for('team_home',team_id=team.id)}}">{{team.name}}</a></li>
                    {%endfor%}
                </ul>
            </li>
            <li><a href="{{url_for('trips_overview',user_id=current_user.id)}}">Trips overview</a></li>
        </ul>
    </div>
    <script>
        var popup = document.querySelector(".popup");
        var popupBtn = document.querySelector(".popup-btn");
        popupBtn.addEventListener("click", function () {
            if (popup.style.display === "block") {
                popup.style.display = "none";
            } else {
                popup.style.display = "block";
            }
        });
    </script>

</div>

<div class="right-sidebar">
    <table class="stats-table">

        <tbody>

            <tr>
                <td><strong>Activities</strong></td>
                <td>{{stat["activities"]}}</td>
            </tr>
            <tr>
                <td><strong>Total Distance (km)</strong></td>
                <td>{{stat["total_distance"]}}</td>
            </tr>
            <tr>
                <td><strong>Maximum Elevation (m)</strong></td>
                <td>{{stat["maximum_elevation"]}}</td>
            </tr>
            <tr>
                <td><strong>Average speed (km/h)</strong></td>
                <td>{{stat["average_speed"]}}</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}