{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_user_home.css') }}">
</head>


<div style="text-align:center">
    <h1 style="color:red">Welcome back {{current_user.username}}!</h1>
    <h2>List of trips you have done:</h2>
</div>

<div style="text-align:center">
    <div class="post-container" style="margin:0 auto;">

        <table class="styled-table">
            <thead>
                <tr>
                    <th><b>Trip Name</b></th>
                    <th>Speed [km/h]</th>
                    <th>Distance [km]</th>
                    <th>Elevation [m]</th>
                    <th>Prestige</th>
                    <th>Score</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in trips %}
                <tr>
                    <td>{{trip.tripname}}</td>
                    <td>{{ trip.speed }} </td>
                    <td>{{ trip.distance }} </td>
                    <td>{{trip.elevation}}</td>
                    <td>{{trip.prestige}}</td>
                    <td>{{trip.score}}</td>
                    <td>{{trip.description}}</td>
                    <td><a class="delete-button" href="/delete_trip/{{ trip.id }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<center>
    <h2>List of available teams:</h2>
</center>
<div class="post-container">
    {% for team in teams %}
    <div class="post-container">
        <div class="post-info">
            <div class="row">
                <ul>&#128205;
                    <a href="{{url_for('team_details',team_id=team.id)}}">{{team.name}}</a>
                </ul>


                {%if current_user.role == 'admin'%}
                <div class="delete-button-container">
                    <a class="delete-button" href="/delete_team/{{team.id}}">Delete</a>
                </div>
                {%endif%}
                {% if current_user not in team.users %}
                {% if not requests %}
                <div class="enroll-button-container" style="display: inline">
                    <a id="enroll-button" class="enroll-button" href="/request_enrollment_to_team/{{team.id}}">Request
                        Enrollment</a>
                </div>
                {%else%}
                {% for request in requests %}

                {%if current_user.id == request.user_id %}
                <div class="enroll-button-container" style="display: inline">

                    <a id="enroll-button" class="enroll-button" href="#" disabled>Request sent</a>
                </div>
                {%else%}
                <div class="enroll-button-container" style="display: inline">

                    <a id="enroll-button" class="enroll-button"
                        href="/request_enrollment_to_team/{{team.id}}"></a>Request
                    Enrollment</a>
                </div>
                {% endif %}

                {% endfor %}
                {%endif%}
            </div>

            {%endif%}

            {% if current_user in team.users %}
            <div class="unenroll-button-container">
                <a class="unenroll-button"
                    href="{{url_for('unenroll_from_team',team_id=team.id,user_id=current_user.id)}}">Unenroll</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endfor %}
</div>

{% if current_user.role =="team_leader" or current_user.role=="admin"%}

<center>
    <h2>List of requests to join the teams:</h2>
</center>
<div class="post-container">
    {% for request in requests %}
    <div class="post-container">
        <div class="post-info">
            <div class="row">
                user: {{request["username"]}}; team: {{request["team"]}}
                <div class="enroll-button-container" style="display: inline">
                    <a class="enroll-button"
                        href="{{url_for('decide_on_enrollment',request_id=request['id'],accept='Yes')}}">Approve</a>
                </div>

                <div class="unenroll-button-container" style="display: inline">
                    <a class="unenroll-button"
                        href="{{url_for('decide_on_enrollment',request_id=request['id'],accept='No')}}">Decline</a>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endif%}
{% endblock %}